<?xml version="1.0"?>
<configuration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<MainVersion>1</MainVersion>
	<MinSubVersion>0</MinSubVersion>
	<MaxSubVersion>5</MaxSubVersion>
	<CurrVersion>0</CurrVersion>
	<VersionCount>0</VersionCount>
	<FilePaths>
		<FilePath>
			<Name>甘肃</Name>
			<Path>D:\Romens\雨诺客户端文件发布工具\客户端1</Path>
		</FilePath>
		<FilePath>
			<Name>福建</Name>
			<Path>D:\Romens\雨诺客户端文件发布工具\客户端2</Path>
		</FilePath>
	</FilePaths>
</configuration>
